<div class="secret-preview-container">
    <h2>Your secret link has been generated!</h2>

    <!-- Secret Link Display -->
    <p *ngIf="secretLink">
      Secret link: 
      <a>{{ secretLink }}</a>

  <!-- Copy Icon Button -->
  <button (click)="copyToClipboard()" title="Will copy the secret link">
    <i class="fas fa-copy" *ngIf="!copied"></i>
    <span *ngIf="copied">Copied</span> <!-- Show "Copied!" when the link is copied -->
  </button>
</p>


    <!-- Expiration Info -->
    <p *ngIf="expirationInDays !== null">
      Expires in: {{ expirationInDays }}
    </p>

    <!-- Action Buttons -->
    <button (click)="burnSecret()" title="Will delete the secret link">Burn this secret</button>
    <button (click)="createNewSecret()" title="Will return you to Home page and create new secret">Create another secret</button>
  </div>