<div class="generate-secret-container">
  <h2>Paste a password, secret message, or private link below</h2>
  <p>Keep sensitive info out of your email and chat logs.</p>
  <textarea [(ngModel)]="secret" placeholder="Secret content goes here..."></textarea>

  <div class="optional">
    <h3>Privacy Options</h3>
    <input type="text" [(ngModel)]="passphrase" placeholder="Enter a passphrase (optional)" />
    <select [(ngModel)]="expirationInDays">
      <option value="30 minutes">Expires in 30 minutes</option>
      <option value="1 hour">Expires in 1 hour</option>
      <option value="1 day">Expires in 1 day</option>
      <option value="7 days" selected>Expires in 7 days</option>
      <option value="14 days">Expires in 14 days</option>
    </select>
  </div>

  <button (click)="createSecret()" title="Create a secret link">Create a secret link</button>
</div>