<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="retrieve-secret-container">
  <div *ngIf="isAccessed; else showSecret">
    <div class="icon-container">
      <i class="fa-solid fa-exclamation-triangle warning-icon"></i> 
      <h4>That information is no longer available.</h4>
      <p>Welcome to Onetime Secret. Sensitive information shared through our service can only be accessed once. Once viewed, the content is permanently deleted from our servers to ensure confidentiality.</p>
      <button (click)="goBack()" title="Return to Home">Return To Home</button>
    </div>
  </div>

  <ng-template #showSecret>
    <div *ngIf="passphraseRequired && !isPassphraseEntered">
      <h2>Please enter the passphrase:</h2>
      <form [formGroup]="passphraseForm" (ngSubmit)="onSubmit()">
        <input type="password" formControlName="enteredPassphrase" placeholder="Enter Passphrase" required />
        <button type="submit">Submit</button>
      </form>
    </div>

    <div *ngIf="!passphraseRequired || isPassphraseEntered">
      <h2>This message is for you:</h2>
      <div class="secret-box">
        <span class="secret-text">{{ secret }}</span>
        <button class="copy-button" (click)="copyToClipboard()" title="Copy to clipboard">
          <i class="fas fa-copy" *ngIf="!copied"></i>
          <span *ngIf="copied">Copied</span>
        </button>
      </div>
      <h3><strong>*Careful: We will only show it once*</strong></h3>
    </div>
  </ng-template>
</div>
